doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Welcome to Techniqally
  // Google Fonts
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
  // CSS Reset
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css')
  // Milligram CSS
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css')
.container
  .row(style='background-color: #6B5B95')
    .column.column-80
      h3(style="color: #FF6F61") Techniqally
    .column.column-10
      h4 
        a(href="/", style="color: white") Home
    .column.column-10
      h4(style="color: white") 
        a(href="/about", style="color: white") About
  .row
    .column(style="margin-top: 2rem;")
      p
        |
  .row
    .column
      h2 Hey There!!
  .row
     .column
      p
        |This is a brief starting post for my challenge for the year 2021. A first in the series but defintely not the last. I am just warming up &#x1F609;.
      p
        |For a person who has been dormant for long time, this year was an awakening and has kicked me up in the right place. Next year, as I turn 40, I want to have the following accomplished or try reaching them without any regrets &#x1F642;. I want to have accountability and need to keep this online for me to be on track. 
      p I could go without having this blog or all the upcoming ones, but if I don't have it I know I will not do it.

      p So, what is the challenge?
        blockquote
        
          em 5 startups in the next year and  maybe aim for 5 bonus startups.
        
      h4 Ok!, what are those startups going to be?  The current list looks like this (very unlikely of this changing)
      
      ol
        li A online community : Something that will challenge Facebook... 
        li An e-commerce service: Something similar on lines as Stripe...
        li A mobile app 
        li A youtube channel or a YC company
        li A Kickstarter/Indegogo campaign 
      
      h4 5 additional ones include 
      
      ol
        li A successful open source project
        li A real competing SaaS service: The idea here is to take a successful SaaS product (B2B only) and build a competing one and then grow it
        li An AR/VR solution 
        li A game: Not a triple A :) .. Games are not my core strength but want to try producing one
        li Yet to be thought.. Leaning towards something like an amusement park or a movie theater  a physical store kind of business
      
      h3 Criteria for success
      
      p The idea is to not just startup something and be done with it. Each of the startups should and will have criteria for success. Below are just some key indicators but I will start tracking each one of them and will share it over the next year in the best possible way I can. For eg.
      
      ul
        li For the online community : It would be at least 1 million users or sizeable number of DAU, 10 million page views  etc. More will follow on each ones
        li For the e-commerce there must be a transaction of at least 1M USD over the next year
        li A mobile app should be in the top list for its category
        li Youtube channel: This is something new and I am very far from all photography and video stuff. But the idea is to see how a new comer can come in at this stage of saturation and make money from the platform
        li Kickstarter/Indegogo is self demonstrating. Not only making the funding but executing the shipments on time
        li Each startups will be on its own merit and I want to have at least 60 or more percent of stake at the end of this period
       
      h3  Cool, who am I to try this. 
       
      p well I am an average 39er, a 3.3 GPA or a 80 percentile academically
      p Done my MBA from a non top 50 MBA school from Montreal, Canada
      p Have an engineering background but in Mechanical and not Computers from India.
      p Spent the early 5 years of my career in SAP (the B2B software behemoth) and from then on been on and off gigs while maxing out my savings in between trying to move over countries and stuff.
      p My LinkedIn Profile is  
        span 
          a(href = "https://in.linkedin.com/in/shirharip") here 

      h3 What I am looking for 
      p Clearly it is not possible to do all of this by myself and would love to have collaborations and engage with people who want to be part of this. I would need help     specially in the area of design. I am not good with the creative part. Cannot come with any decent names or logos for these companies and would highly appreciate any help I would get here.
        br
      p Passionate and interested individuals who want to do something extra ordinary in short period of time, feel free to get in touch with me. 
      p Starting next year, I would start sharing my progress and you are all free to follow me or get the feed to know how things are going with the ones above.
      p Will share the links to them later.
      p For the brave ones :) , signup below and my email is in the place holder, kick my butt if I am not doing well.. 
      h4 Till then. Merry Christmas and a Happy New Year  &#x1F642; ... 
      br
      p
        form(action='/signUp', method='POST')
          div
            label(for='email') SignUp for email updates or to kick my b...!
            input#email(name='email', type='email', placeholder='hari@techniqally.com')
          div
            input(type='submit', value='Subscribe!')
      p  see 
        span 
         a(href="/reactions/ncr") reactions
        br
      
  .row
    a(href="/reactions/cr", class="button") You must be crazy
  .row
    a(href="/reactions/ecr", class="button") Seen even crazier stuff this year! Good Luck!
  .row
    a(href="/reactions/ocr", class="button") Outrageous! Please don't do this
  .row
    a(href="/reactions/gcr", class="button") Cool! Would be great to know how things go
        